<header class="header">
  <div class="header__title">
    <a><span class="header__title__PFC">PFC</span>alendar</a>
  </div>
  <div class="header__right">
    <a>Log in</a>
    <a class="header__right__sign-up">
      Sign up
    </a>
  </div>
</header>
